/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Source+Serif+4:opsz,wght@8..60,300&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #000000;
    font-family: 'Lora', serif;
}

h1,
h2,
h3 {
    font-family: 'Lora', serif;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 3px;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}


#menu {
    font-size: 100%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #000000;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #000000;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content*/
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Hero section */
#hero {
    height: 1000px;
    width: 100%;
    background: url("../images/DSC_2952.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    text-align: center;
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 180px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #ffffff;
}

/* Brands to watch section */
#brands {
    height: 500px;
    width: 100%;
    background: url("../images/annie-spratt-cxAZxTuL7Sk-unsplash.jpg") no-repeat center center/cover;
    position: relative;
}

#text {
    text-align: justify;
    position: absolute;
    width: 100%;
    height: auto;
}

#text>h2 {
    color: #000000;
}


/* Info page with selected sustainable brands*/
#photos img {
    width: 100%;
}

/* Subscribe form */
#subscribe {
    background-size: 50%;
    background-position: 75%;
}

#subscribe-form {
    color: #000000;
    background-color: #ffffff;
    padding: 30px;
}

#subscribe-form>h3 {
    color: #000000;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #000000;
    width: 50%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #000000;
    border-radius: 2px;
    padding: 0 5px;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    border-style: outset;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #000000;
    color: #ffffff;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #000000;
}

/* Media query : large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }

    /* Media query : tablets and larger (768px and up) */
    @media screen and (min-width: 768px) {

        /* Header */
        nav {
            display: block;
            position: relative;
            width: fit-content;
            box-shadow: none;
            padding-right: 1rem;

        }

        #menu {
            display: flex;
        }

        #menu>li {
            padding-left: 1rem;
        }

        .nav-toggle-label {
            display: none;
        }

        #logo {
            font-size: 200%;
            line-height: 75px;
            margin: 0 0.5rem;
        }

        /* Info page with photos */
        #photos {
            column-count: 3;
        }
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }

    /* Info section with brand images and text */

    .container {
        width: 100%;
    }

    .column1 {
        float: left;
        width: 50%;
        margin: 20px auto;
    }

    .column2 {
        float: left;
        width: 50%;
        margin: 20px auto;
    }

    /* Subscribe form */
    #signup {
        background-position: center;
        position: relative;
    }

    #signup-form {
        max-width: 400px;
        position: absolute;
        left: 10%;
        top: 150px;
    }

    .text-input:hover {
        border-color: #000000;
    }

    .join-button:hover {
        background-color: #ffffff;
        color: #000000;
    }



    /* Large devices (laptops and desktops, 992px and up) */
    @media screen and (min-width: 992px) {
        #menu a:hover {
            border-bottom: 1px solid #000000;
        }

        /* Info page with photos */
        #photos {
            column-count: 4;
        }
    }